{
  "openapi": "3.0.2",
  "info": {
    "title": "OpenAI Programmatic Admin Platform",
    "version": "2.5.3"
  },
  "servers": [
    {
      "url": "https://api.chatgpt.com/v1"
    }
  ],
  "components": {
    "schemas": {
      "workspace_id": {
        "type": "string",
        "format": "uuid",
        "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
      },
      "organization_id": {
        "type": "string",
        "description": "The ID for the API Platform Organization",
        "example": "org-XXXXXXXXXXXXXXXXXXXXXXXX"
      },
      "user_id": {
        "type": "string",
        "description": "The auth user ID for a user.",
        "example": "user-XXXXXXXXXXXXXXXXXXXXXXXX"
      },
      "gpt_id": {
        "type": "string",
        "description": "The ID of a GPT.",
        "example": "g-XXXXXXXXX"
      },
      "skill_id": {
        "type": "string",
        "description": "The ID of a skill.",
        "example": "skill-XXXXXXXXX"
      },
      "project_id": {
        "type": "string",
        "description": "The ID of a Project.",
        "example": "g-p-XXXXXXXXX"
      },
      "timestamp": {
        "type": "number",
        "description": "A Unix timestamp.",
        "example": 1692158096.299021
      },
      "datestring": {
        "type": "string",
        "format": "date-time",
        "description": "A date string in ISO 8601 format",
        "example": "2025-09-23T00:58:39+00:00"
      },
      "file_format": {
        "type": "string",
        "enum": [
          "url",
          "id"
        ],
        "default": "url"
      },
      "gpt_file_format": {
        "allOf": [
          {
            "$ref": "#/components/schemas/file_format"
          }
        ],
        "description": "File format for files in GPTs.\n\nIf `url`, returned files follow the `GPTFile` schema.\n\nIf `id`, returned files follow the `GPTFileInfo` schema.\n"
      },
      "project_file_format": {
        "allOf": [
          {
            "$ref": "#/components/schemas/file_format"
          }
        ],
        "description": "File format for files in Projects.\n\nIf `url`, returned files follow the `ProjectFile` schema.\n\nIf `id`, returned files follow the `ProjectFileInfo` schema.\n"
      },
      "log_file_id": {
        "type": "string",
        "description": "The ID of a Compliance Log File"
      },
      "compliance_event_type": {
        "type": "string",
        "description": "The category of compliance events represented by a file or query.",
        "enum": [
          "CONVERSATION_MESSAGE",
          "AUDIT_LOG",
          "etc..."
        ]
      },
      "compliance_event_type_org": {
        "type": "string",
        "description": "The category of compliance events represented by a file or query.",
        "enum": [
          "APP_LOG",
          "APP_AUTH_LOG",
          "COSTS",
          "etc..."
        ]
      },
      "compliance_event_type_response": {
        "type": "string",
        "description": "The category of compliance events represented by an exported file.",
        "enum": [
          "CONVERSATION_MESSAGE",
          "AUDIT_LOG",
          "APP_LOG",
          "APP_AUTH_LOG",
          "COSTS",
          "etc..."
        ]
      },
      "GenericList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "last_id": {
            "type": "string",
            "description": "The ID of the last object in the list."
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether there are more objects to list."
          },
          "data": {
            "type": "array",
            "description": "The list of objects.",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ChatGPTPet": {
        "type": "object",
        "description": "A custom ChatGPT pet owned by a workspace user.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.pet"
            ]
          },
          "id": {
            "type": "string",
            "description": "The stable ID of the pet."
          },
          "user_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the workspace user who owns the pet."
          },
          "name": {
            "type": "string",
            "description": "The pet display name supplied by the user."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The optional pet description supplied by the user."
          },
          "spritesheet_file_id": {
            "type": "string",
            "description": "The Sediment file ID backing the pet sprite sheet."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the pet was created."
          },
          "updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the pet was last updated."
          }
        }
      },
      "SharedChatGPTPet": {
        "type": "object",
        "description": "A workspace-scoped shared snapshot of a custom ChatGPT pet.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.shared_pet"
            ]
          },
          "id": {
            "type": "string",
            "description": "The stable ID of the shared pet."
          },
          "user_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the workspace user who shared the pet."
          },
          "source_pet_id": {
            "type": "string",
            "description": "The stable ID of the custom pet the share was created from."
          },
          "name": {
            "type": "string",
            "description": "The pet display name captured in the shared snapshot."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The optional pet description captured in the shared snapshot."
          },
          "spritesheet_file_id": {
            "type": "string",
            "description": "The Sediment file ID backing the shared pet sprite sheet."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the pet was shared."
          },
          "updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the shared pet was last updated."
          }
        }
      },
      "ChatGPTPetList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string",
                "nullable": true,
                "description": "Cursor for fetching the next page of custom pets."
              },
              "data": {
                "type": "array",
                "description": "The custom pets owned by the workspace user.",
                "items": {
                  "$ref": "#/components/schemas/ChatGPTPet"
                }
              }
            }
          }
        ]
      },
      "SharedChatGPTPetList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string",
                "nullable": true,
                "description": "Cursor for fetching the next page of shared pets."
              },
              "data": {
                "type": "array",
                "description": "The shared pets created by the workspace user.",
                "items": {
                  "$ref": "#/components/schemas/SharedChatGPTPet"
                }
              }
            }
          }
        ]
      },
      "UsageLimitSetting": {
        "type": "object",
        "description": "A limited or unlimited monthly hard cap in credits.",
        "required": [
          "limit"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Monthly hard cap in credits when type is `limited`; set to `null` when type is `unlimited`.",
            "example": 1000
          },
          "type": {
            "type": "string",
            "enum": [
              "limited",
              "unlimited"
            ],
            "default": "limited",
            "description": "Whether this is a finite hard cap or an explicit unlimited limit."
          }
        }
      },
      "UsageLimitSettingRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "A limited or unlimited monthly hard cap in credits accepted in request bodies.",
        "required": [
          "limit"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Monthly hard cap in credits when type is `limited`; set to `null` when type is `unlimited`.",
            "example": 1000
          },
          "type": {
            "type": "string",
            "enum": [
              "limited",
              "unlimited"
            ],
            "default": "limited",
            "description": "Whether this is a finite hard cap or an explicit unlimited limit."
          }
        }
      },
      "UsageLimits": {
        "type": "array",
        "description": "Monthly hard caps for one usage-limit resource.",
        "items": {
          "$ref": "#/components/schemas/UsageLimitSetting"
        }
      },
      "LimitedUsageLimitSettingRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "A finite monthly hard cap in credits.",
        "required": [
          "limit"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Monthly hard cap in credits.",
            "example": 1000
          },
          "type": {
            "type": "string",
            "enum": [
              "limited"
            ],
            "default": "limited",
            "description": "The finite hard-cap type."
          }
        }
      },
      "WorkspaceUsageLimit": {
        "type": "object",
        "description": "Workspace-default monthly hard-cap configuration applied to default and usage-based seats.",
        "required": [
          "id"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "workspace.usage_limit"
            ],
            "description": "The resource type."
          },
          "id": {
            "$ref": "#/components/schemas/workspace_id",
            "description": "The ChatGPT workspace ID."
          },
          "default_user_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimits"
              }
            ],
            "nullable": true,
            "description": "Default monthly hard caps inherited by users without a more specific group or user limit."
          }
        }
      },
      "UpdateWorkspaceUsageLimitsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "default_user_monthly_usage_limit"
        ],
        "properties": {
          "default_user_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LimitedUsageLimitSettingRequest"
              }
            ],
            "nullable": true,
            "description": "New workspace-default monthly hard cap. Set to `null` to clear the workspace default."
          }
        }
      },
      "UpdateGroupUsageLimitsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "default_user_monthly_usage_limit"
        ],
        "properties": {
          "default_user_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimitSettingRequest"
              }
            ],
            "nullable": true,
            "description": "New group-default monthly limit. Set to `null` to clear the group default."
          }
        }
      },
      "GroupUsageLimit": {
        "type": "object",
        "description": "Group-default monthly hard-cap configuration inherited by group members without a user override.",
        "required": [
          "id",
          "group_name",
          "num_members"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "workspace.group.usage_limit"
            ],
            "description": "The resource type."
          },
          "id": {
            "type": "string",
            "description": "ChatGPT workspace group ID.",
            "example": "group_123"
          },
          "group_name": {
            "type": "string",
            "description": "Human-readable group name.",
            "example": "Engineering"
          },
          "num_members": {
            "type": "integer",
            "description": "Number of current members in the group.",
            "example": 42
          },
          "default_user_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimits"
              }
            ],
            "nullable": true,
            "description": "Default monthly hard caps inherited by group members without a user override."
          }
        }
      },
      "GroupUsageLimitList": {
        "type": "object",
        "required": [
          "data",
          "has_more"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The response envelope type."
          },
          "data": {
            "type": "array",
            "description": "Group usage-limit resources ordered by group ID.",
            "items": {
              "$ref": "#/components/schemas/GroupUsageLimit"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether another cursor page is available."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor to pass to the next request when `has_more` is `true`."
          },
          "last_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the last group in this page."
          }
        }
      },
      "AccountUserRole": {
        "type": "string",
        "enum": [
          "account-owner",
          "account-admin",
          "analytics-viewer",
          "standard-user"
        ]
      },
      "SeatType": {
        "type": "string",
        "enum": [
          "default",
          "usage_based"
        ]
      },
      "EffectiveHardCapSource": {
        "type": "object",
        "description": "The resource that supplied an effective or inherited hard cap.",
        "required": [
          "kind"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "individual_override",
              "group_default",
              "workspace_default",
              "role_based_personal_budget"
            ],
            "example": "workspace_default"
          },
          "group_id": {
            "type": "string",
            "nullable": true,
            "description": "Present when `kind` is `group_default`.",
            "example": "group_123"
          },
          "group_name": {
            "type": "string",
            "nullable": true,
            "description": "Present when `kind` is `group_default`.",
            "example": "Engineering"
          },
          "seat_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SeatType"
              }
            ],
            "nullable": true,
            "description": "Present when `kind` is `workspace_default`."
          },
          "role_id": {
            "type": "string",
            "nullable": true,
            "description": "Present when `kind` is `role_based_personal_budget`."
          },
          "role_name": {
            "type": "string",
            "nullable": true,
            "description": "Present when `kind` is `role_based_personal_budget`."
          }
        }
      },
      "EffectiveUserHardCapResponse": {
        "type": "object",
        "required": [
          "limit",
          "source"
        ],
        "properties": {
          "limit": {
            "$ref": "#/components/schemas/UsageLimitSetting"
          },
          "source": {
            "$ref": "#/components/schemas/EffectiveHardCapSource"
          }
        }
      },
      "UserUsageLimit": {
        "type": "object",
        "description": "Per-user usage-limit view showing current usage, direct override, and effective inherited hard cap.",
        "required": [
          "id",
          "account_user_id",
          "role",
          "is_scim_managed"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "workspace.user.usage_limit"
            ],
            "description": "The resource type."
          },
          "id": {
            "$ref": "#/components/schemas/user_id"
          },
          "account_user_id": {
            "type": "string",
            "description": "Workspace-scoped account user ID.",
            "example": "user-XXXXXXXXXXXXXXXXXXXXXXXX__XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Ada Lovelace"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "example": "ada@example.com"
          },
          "role": {
            "$ref": "#/components/schemas/AccountUserRole"
          },
          "seat_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SeatType"
              }
            ],
            "nullable": true
          },
          "is_scim_managed": {
            "type": "boolean",
            "example": false
          },
          "last_month_usage": {
            "type": "number",
            "nullable": true,
            "description": "Prior calendar month usage in credits.",
            "example": 275
          },
          "current_month_usage": {
            "type": "number",
            "nullable": true,
            "description": "Current calendar month usage in credits.",
            "example": 125
          },
          "override_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimits"
              }
            ],
            "nullable": true,
            "description": "Direct user override, if present."
          },
          "effective_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EffectiveUserHardCapResponse"
              }
            ],
            "nullable": true
          },
          "inherited_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EffectiveUserHardCapResponse"
              }
            ],
            "nullable": true
          }
        }
      },
      "UserMonthlyUsageLimitStatus": {
        "type": "object",
        "description": "Live monthly usage-limit status for one workspace user.",
        "required": [
          "id",
          "account_user_id"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "workspace.user.usage_limit.monthly_usage"
            ],
            "description": "The resource type."
          },
          "id": {
            "$ref": "#/components/schemas/user_id"
          },
          "account_user_id": {
            "type": "string",
            "description": "Workspace-scoped account user ID.",
            "example": "user-XXXXXXXXXXXXXXXXXXXXXXXX__XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
          },
          "effective_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimitSetting"
              }
            ],
            "nullable": true,
            "description": "Effective monthly hard cap for this user, if one exists."
          },
          "current_month_usage": {
            "type": "number",
            "nullable": true,
            "description": "Current calendar month usage in credits.",
            "example": 125
          }
        }
      },
      "UserUsageLimitList": {
        "type": "object",
        "required": [
          "data",
          "has_more"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The response envelope type."
          },
          "data": {
            "type": "array",
            "description": "User usage-limit resources ordered by auth user ID.",
            "items": {
              "$ref": "#/components/schemas/UserUsageLimit"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether another cursor page is available."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor to pass to the next request when `has_more` is `true`."
          },
          "last_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the last user in this page."
          }
        }
      },
      "UpdateUserUsageLimitsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "override_monthly_usage_limit"
        ],
        "properties": {
          "override_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimitSettingRequest"
              }
            ],
            "nullable": true,
            "description": "New direct user monthly limit. To make the user unlimited, set `type` to `unlimited` and `limit` to `null`. Set the entire field to `null` to clear the direct limit."
          }
        }
      },
      "UsageLimitRequest": {
        "type": "object",
        "description": "A workspace user's request for an administrator to increase their monthly usage limit.",
        "required": [
          "id",
          "workspace_id",
          "requester_user_id",
          "requester_account_user_id",
          "status",
          "justification"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "workspace.usage_limit.request"
            ],
            "description": "The resource type."
          },
          "id": {
            "type": "string",
            "description": "Stable usage-limit request ID.",
            "example": "request_123"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/workspace_id"
          },
          "requester_user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "requester_account_user_id": {
            "type": "string",
            "description": "Workspace-scoped account user ID for the requester.",
            "example": "user-XXXXXXXXXXXXXXXXXXXXXXXX__XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
          },
          "requester_name": {
            "type": "string",
            "nullable": true,
            "example": "Ada Lovelace"
          },
          "requester_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "example": "ada@example.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "denied",
              "canceled",
              "superseded"
            ]
          },
          "justification": {
            "type": "string",
            "description": "The requester's explanation for needing a higher limit.",
            "example": "I need more credits for a launch."
          },
          "original_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimitSetting"
              }
            ],
            "nullable": true,
            "description": "Monthly hard cap captured when the request was created."
          },
          "recommended_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageLimitSetting"
              }
            ],
            "nullable": true,
            "description": "Recommended monthly hard cap for the user."
          },
          "resolved_by_account_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Workspace-scoped account user ID for the administrator who resolved the request."
          },
          "resolved_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Time at which the request was approved or denied."
          }
        }
      },
      "UsageLimitRequestList": {
        "type": "object",
        "required": [
          "data",
          "has_more"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The response envelope type."
          },
          "data": {
            "type": "array",
            "description": "Usage-limit approval requests in stable cursor order.",
            "items": {
              "$ref": "#/components/schemas/UsageLimitRequest"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether another cursor page is available."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor to pass to the next request when `has_more` is `true`."
          },
          "last_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the last usage-limit request in this page."
          }
        }
      },
      "UpdateUsageLimitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "denied"
            ],
            "description": "Administrator decision for the pending request."
          },
          "approved_monthly_usage_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LimitedUsageLimitSettingRequest"
              }
            ],
            "nullable": true,
            "description": "Final monthly hard cap to apply when approving. Omit to use the requested limit. This field is invalid when denying a request."
          }
        }
      },
      "WorkspaceUser": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/user_id"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email of the user."
          },
          "name": {
            "type": "string",
            "description": "The name of the user."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the user creation time."
          },
          "role": {
            "type": "string",
            "description": "The role of the user",
            "enum": [
              "account-owner",
              "account-admin",
              "standard-user"
            ]
          },
          "status": {
            "type": "string",
            "description": "The status of the user.",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "GPTConfig": {
        "type": "object",
        "description": "A GPT configuration.  This describes a user-created version of the GPT, including instructions, description, name, and other details defining the GPT's behavior.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.gpt.configuration"
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the configuration.  Uniquely identifies a GPT configuration.",
            "example": "gzm_cnf_xxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "name": {
            "type": "string",
            "description": "The GPT name."
          },
          "description": {
            "type": "string",
            "description": "The GPT description."
          },
          "categories": {
            "type": "array",
            "description": "The list of categories that the builder chose to publish the GPT under.",
            "items": {
              "type": "string"
            }
          },
          "conversation_starters": {
            "type": "array",
            "description": "The list of conversation starters.",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the configuration creation time.  This will not be provided for 3rd party GPTs."
          },
          "instructions": {
            "type": "string",
            "description": "Creator-provided instructions on how the GPT should behave.  This will not be provided for 3rd party GPTs."
          },
          "version_author": {
            "$ref": "#/components/schemas/GPTVersionAuthor",
            "description": "The user that published this version of the GPT.",
            "nullable": true
          },
          "files": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GPTFileList"
              }
            ],
            "description": "The list of files in the GPT configuration.  This will not be provided for 3rd party GPTs.  Note that this list includes a has_more attribute, but that attribute will always be false.  The list is complete."
          },
          "tools": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GPTToolList"
              }
            ],
            "description": "The list of tools in the GPT configuration."
          }
        }
      },
      "GPTConfigList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of GPTConfig(s).",
                "items": {
                  "$ref": "#/components/schemas/GPTConfig"
                }
              }
            }
          }
        ]
      },
      "GPTTool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The tool name.",
            "enum": [
              "code_interpreter",
              "browser",
              "dall-e",
              "memory",
              "custom_action"
            ]
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the tool creation time."
          },
          "action_domain": {
            "type": "string",
            "description": "The internet domain for the custom action. Only provided for `custom_action` tool type."
          },
          "action_openapi_raw": {
            "type": "string",
            "description": "The schema of the custom action. Only provided for `custom_action` tool type."
          },
          "action_privacy_policy_url": {
            "type": "string",
            "description": "The privacy policy url of the custom action. Only provided for `custom_action` tool type."
          },
          "auth_type": {
            "type": "string",
            "description": "The authentication type of the custom action. Only provided for `custom_action` tool type."
          }
        }
      },
      "GPTToolList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of tools. Always returns all tools so `has_more` will always be `false`.",
                "items": {
                  "$ref": "#/components/schemas/GPTTool"
                }
              }
            }
          }
        ]
      },
      "BaseFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the file.",
            "example": "file-XXXXXXXXXXXXXXXXXXXXXXXX"
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the file creation time."
          },
          "download_url": {
            "type": "string",
            "nullable": true,
            "description": "The URL to download the file.  The URL expires after 1 hour.  If the file has expired, the `created_at` and `download_url` will be `null`.",
            "format": "url"
          }
        }
      },
      "GPTFile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseFile"
          },
          {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "compliance.workspace.gpt.file"
                ]
              }
            }
          }
        ]
      },
      "GPTFileInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the file.",
            "example": "file-XXXXXXXXXXXXXXXXXXXXXXXX"
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.gpt.file_info"
            ]
          }
        }
      },
      "GPTFileList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of files. Always returns all files so `has_more` will always be `false`.",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GPTFile"
                    },
                    {
                      "$ref": "#/components/schemas/GPTFileInfo"
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "GPTVersionAuthor": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.gpt.version_author"
            ]
          },
          "id": {
            "type": "string",
            "description": "The auth user ID of the version author."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the version author."
          }
        }
      },
      "GPT": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.gpt"
            ]
          },
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/gpt_id"
              }
            ]
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the GPT creation time.  This is not provided for 3rd party GPTs."
          },
          "owner_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the GPT owner.  This is not provided for 3rd party GPTs."
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "The email of the GPT owner.  This is not provided for 3rd party GPTs."
          },
          "builder_name": {
            "type": "string",
            "description": "The GPT builder name as displayed on ChatGPT.",
            "example": "Community Builder"
          },
          "sharing": {
            "type": "object",
            "description": "The sharing level of the GPT.  This is not provided for 3rd party GPTs.",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "compliance.workspace.gpt.sharing"
                ]
              },
              "visibility": {
                "type": "string",
                "description": "The visibility of the GPT.",
                "enum": [
                  "invite-only",
                  "workspace-with-link",
                  "workspace",
                  "anyone-with-link",
                  "gpt-store"
                ]
              },
              "permissions": {
                "type": "object",
                "description": "The permissions of the GPT.",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "compliance.workspace.gpt.permissions"
                    ]
                  },
                  "can_read": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can chat with the GPT."
                  },
                  "can_view_config": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can view the configurations of the GPT."
                  },
                  "can_write": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can edit the GPT."
                  }
                }
              },
              "recipients": {
                "type": "array",
                "description": "The list of sharing recipients.",
                "items": {
                  "type": "object",
                  "description": "A user that a GPT is shared with.",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "compliance.workspace.gpt.shared_user"
                      ]
                    },
                    "id": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/user_id"
                        }
                      ],
                      "description": "The auth user ID of the recipient."
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "The email of the recipient."
                    },
                    "permissions": {
                      "type": "object",
                      "description": "The permissions of the GPT.",
                      "properties": {
                        "object": {
                          "type": "string",
                          "enum": [
                            "compliance.workspace.gpt.permissions"
                          ]
                        },
                        "can_read": {
                          "type": "boolean",
                          "description": "Indicates whether the sharing recipient can chat with the GPT."
                        },
                        "can_view_config": {
                          "type": "boolean",
                          "description": "Indicates whether the sharing recipient can view the configurations of the GPT."
                        },
                        "can_write": {
                          "type": "boolean",
                          "description": "Indicates whether the sharing recipient can edit the GPT."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "latest_config": {
            "$ref": "#/components/schemas/GPTConfigList"
          }
        }
      },
      "Skill": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.skill"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/skill_id"
          },
          "name": {
            "type": "string",
            "description": "The skill name."
          },
          "description": {
            "type": "string",
            "description": "The skill description."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "nullable": true,
            "description": "The Unix timestamp of the skill creation time."
          },
          "updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "nullable": true,
            "description": "The Unix timestamp of the skill update time."
          },
          "creator": {
            "type": "string",
            "description": "The account user ID stored on the skill."
          },
          "original_product_surface": {
            "type": "string",
            "description": "The product surface where the skill was originally created."
          },
          "files": {
            "type": "array",
            "description": "Paths of files included in the skill archive.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SkillListRequest": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "The pagination cursor returned from the previous response."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "The maximum number of skills to list."
          }
        },
        "required": [
          "limit"
        ]
      },
      "AgentSkillListRequest": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "The pagination cursor returned from the previous response."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "The maximum number of agent skills to list."
          }
        },
        "required": [
          "limit"
        ]
      },
      "Memory": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.memory"
            ]
          },
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the user who owns the memory."
          },
          "memory_contexts": {
            "type": "array",
            "description": "The list of memory contexts.",
            "items": {
              "$ref": "#/components/schemas/MemoryContext"
            }
          }
        }
      },
      "MemoryContext": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.memory.context"
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the memory context.  Note that this could be a user ID if it refers to the user's primary memory context."
          },
          "memory_entries": {
            "type": "array",
            "description": "The list of memory entries.",
            "items": {
              "$ref": "#/components/schemas/MemoryEntry"
            }
          }
        }
      },
      "MemoryEntry": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.memory.context.entry"
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the memory entry."
          },
          "content": {
            "type": "string",
            "description": "The content of the memory entry."
          },
          "updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the memory entry update time."
          }
        }
      },
      "Canvas": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the canvas."
          }
        }
      },
      "CanvasComment": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "comment"
            ],
            "description": "The type of the object."
          },
          "id": {
            "type": "string",
            "description": "The ID of the comment."
          },
          "start": {
            "type": "integer",
            "description": "The start position of the comment."
          },
          "end": {
            "type": "integer",
            "description": "The end position of the comment."
          },
          "content": {
            "type": "string",
            "description": "The content of the comment."
          }
        }
      },
      "VersionContent": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The content of the canvas version."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the version was updated."
          },
          "version": {
            "type": "integer",
            "description": "The version number."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the version."
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CanvasComment"
            },
            "description": "The list of comments in the version."
          }
        }
      },
      "ListCanvasVersionContent": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The object type."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionContent"
            },
            "description": "The list of canvas versions."
          },
          "last_version": {
            "type": "integer",
            "nullable": true,
            "description": "The version number of the last version in the list."
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether there are more versions to list."
          }
        }
      },
      "CanvasContent": {
        "type": "object",
        "properties": {
          "textdoc_id": {
            "type": "string",
            "description": "The ID of the canvas document."
          },
          "textdoc_type": {
            "type": "string",
            "description": "The type of the canvas document."
          },
          "version_contents": {
            "$ref": "#/components/schemas/ListCanvasVersionContent",
            "description": "The list of version contents."
          }
        }
      },
      "CanvasListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The object type."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Canvas"
            },
            "description": "The list of canvases."
          },
          "last_id": {
            "type": "string",
            "description": "The ID of the last canvas in the list."
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether there are more canvases to list."
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the recording."
          },
          "start": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the recording started."
          },
          "end": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp when the recording ended."
          },
          "conversation_id": {
            "type": "string",
            "description": "The ID of the conversation associated with the recording."
          },
          "canvas_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the canvas associated with the recording."
          }
        }
      },
      "RecordingListResponse": {
        "description": "A list of recordings.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": [
                    "list"
                  ]
                },
                "last_id": {
                  "type": "string",
                  "description": "The ID of the last recording in the list."
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Indicates whether there are more recordings to list."
                },
                "cursor": {
                  "type": "string",
                  "nullable": true,
                  "description": "Cursor for fetching the next page of results."
                },
                "data": {
                  "type": "array",
                  "description": "The list of recordings.",
                  "items": {
                    "$ref": "#/components/schemas/Recording"
                  }
                }
              }
            }
          }
        }
      },
      "TranscriptDownloadResponse": {
        "type": "object",
        "description": "A response containing the recording transcript and optional summary.",
        "properties": {
          "version": {
            "type": "string",
            "enum": [
              "1.0"
            ],
            "description": "The version of the response schema."
          },
          "recording_id": {
            "type": "string",
            "description": "The recording ID."
          },
          "transcript": {
            "type": "string",
            "description": "The full transcript text."
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "Optional summary of the transcript."
          }
        }
      },
      "ExportAutomation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique automation identifier."
          },
          "title": {
            "type": "string",
            "description": "The title of the automation."
          },
          "schedule": {
            "type": "string",
            "description": "The automation schedule."
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Indicates if the automation is enabled."
          },
          "prompt": {
            "type": "string",
            "description": "The automation prompt."
          }
        },
        "required": [
          "id",
          "title",
          "schedule",
          "is_enabled",
          "prompt"
        ]
      },
      "ProjectFile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseFile"
          },
          {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "compliance.workspace.project.file"
                ]
              }
            }
          }
        ]
      },
      "ProjectFileInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the file."
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.project.file_info"
            ]
          }
        }
      },
      "ProjectFileList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of files in the Project configuration.",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProjectFile"
                    },
                    {
                      "$ref": "#/components/schemas/ProjectFileInfo"
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "ProjectTool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The tool name.",
            "enum": [
              "code_interpreter",
              "browser",
              "dall-e",
              "memory",
              "custom_action",
              "deep_research",
              "web_browsing",
              "canvas",
              "myfiles_browser"
            ]
          },
          "created_at": {
            "type": "number",
            "description": "The Unix timestamp of when the tool was added."
          },
          "action_domain": {
            "type": "string",
            "description": "The internet domain for the custom action (only if `custom_action`)."
          },
          "action_openapi_raw": {
            "type": "string",
            "description": "The schema for the custom action (only if `custom_action`)."
          },
          "action_privacy_policy_url": {
            "type": "string",
            "description": "The privacy policy URL (only if `custom_action`)."
          }
        }
      },
      "ProjectToolList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of tools in the Project configuration.",
                "items": {
                  "$ref": "#/components/schemas/ProjectTool"
                }
              }
            }
          }
        ]
      },
      "SharingRecipient": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.project.shared_user"
            ]
          },
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the recipient."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email of the recipient."
          },
          "permissions": {
            "type": "object",
            "description": "The permissions of the Project.",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "compliance.workspace.project.permissions"
                ]
              },
              "can_read": {
                "type": "boolean",
                "description": "Indicates whether the sharing recipient can view/consume the Project."
              },
              "can_view_config": {
                "type": "boolean",
                "description": "Indicates whether the sharing recipient can view the configurations of the Project."
              },
              "can_write": {
                "type": "boolean",
                "description": "Indicates whether the sharing recipient can edit the Project."
              }
            }
          }
        }
      },
      "SharingRecipientsList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of sharing recipients.",
                "items": {
                  "$ref": "#/components/schemas/SharingRecipient"
                }
              }
            }
          }
        ]
      },
      "ProjectFilesList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectFileList"
          }
        ]
      },
      "ProjectToolsList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectToolList"
          }
        ]
      },
      "ProjectConfig": {
        "type": "object",
        "description": "A Project configuration. This describes a user-created version of a Project.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.project.configuration"
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the configuration. Uniquely identifies a Project configuration.",
            "example": "pr_cnf_xxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "name": {
            "type": "string",
            "description": "The Project name."
          },
          "description": {
            "type": "string",
            "description": "The Project description."
          },
          "categories": {
            "type": "array",
            "description": "The list of categories that the builder chose to publish the Project under.",
            "items": {
              "type": "string"
            }
          },
          "conversation_starters": {
            "type": "array",
            "description": "The list of conversation starters.",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the configuration creation time."
          },
          "instructions": {
            "type": "string",
            "description": "Creator-provided instructions on how the Project should behave."
          },
          "files": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectFilesList"
              }
            ],
            "description": "The list of files in the Project configuration. Note that `has_more` is always false.\nThe list is complete.\n"
          },
          "tools": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectToolsList"
              }
            ],
            "description": "The list of tools in the Project configuration."
          }
        }
      },
      "ProjectConfigList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of ProjectConfig(s).",
                "items": {
                  "$ref": "#/components/schemas/ProjectConfig"
                }
              }
            }
          }
        ]
      },
      "ProjectConnectorFile": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "info": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "type": {
                "type": "string",
                "nullable": true
              },
              "size": {
                "type": "integer",
                "nullable": true
              },
              "last_modified": {
                "type": "integer",
                "nullable": true
              },
              "file_size_tokens": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "location": {
            "type": "string",
            "enum": [
              "fs",
              "sediment"
            ]
          },
          "remote_id": {
            "type": "string"
          },
          "original_url": {
            "type": "string",
            "nullable": true
          },
          "remote_modified_time": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProjectConnectorScope": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.project.connector_scope"
            ]
          },
          "id": {
            "type": "string"
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "slack",
              "linear",
              "google_drive",
              "website"
            ]
          },
          "scope_type": {
            "type": "string",
            "enum": [
              "slack_channel",
              "linear_team",
              "linear_project",
              "google_drive_file",
              "google_drive_folder",
              "website"
            ]
          },
          "canonical_handle": {
            "type": "string"
          },
          "original_url": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "created_by": {
            "type": "string",
            "description": "The account user ID of the user who created the connector scope."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "nullable": true
          },
          "last_sync_status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed",
              "not_synced"
            ],
            "nullable": true
          },
          "connector_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectConnectorFile"
            }
          }
        }
      },
      "ProjectConnectorScopeList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of Project connector scopes.",
                "items": {
                  "$ref": "#/components/schemas/ProjectConnectorScope"
                }
              }
            }
          }
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.project"
            ]
          },
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/project_id"
              }
            ]
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ],
            "description": "The Unix timestamp of the Project creation time. This is not provided for 3rd party Projects."
          },
          "owner_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ],
            "description": "The auth user ID of the Project owner. This is not provided for 3rd party Projects."
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "The email of the Project owner. This is not provided for 3rd party Projects."
          },
          "builder_name": {
            "type": "string",
            "description": "The Project builder name as displayed on ChatGPT.",
            "example": "Community Builder"
          },
          "sharing": {
            "type": "object",
            "description": "The sharing level of the Project. This is not provided for 3rd party Projects.",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "compliance.workspace.project.sharing"
                ]
              },
              "visibility": {
                "type": "string",
                "description": "The visibility of the Project.",
                "enum": [
                  "invite-only",
                  "workspace-with-link",
                  "workspace",
                  "anyone-with-link",
                  "gpt-store"
                ]
              },
              "permissions": {
                "type": "object",
                "description": "The permissions of the Project.",
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "compliance.workspace.project.permissions"
                    ]
                  },
                  "can_read": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can view/consume the Project."
                  },
                  "can_view_config": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can view the configurations of the Project."
                  },
                  "can_write": {
                    "type": "boolean",
                    "description": "Indicates whether the sharing recipient can edit the Project."
                  }
                }
              },
              "recipients": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SharingRecipientsList"
                  }
                ],
                "description": "The list of sharing recipients."
              }
            }
          },
          "latest_config": {
            "$ref": "#/components/schemas/ProjectConfigList"
          },
          "connector_scopes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectConnectorScopeList"
              }
            ],
            "description": "The Project connector scopes configured for the Project."
          }
        }
      },
      "CodexEnvironmentList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of CodexEnvironment(s).",
                "items": {
                  "$ref": "#/components/schemas/CodexEnvironment"
                }
              }
            }
          }
        ]
      },
      "CodexTaskList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "The list of CodexTask(s).",
                "items": {
                  "$ref": "#/components/schemas/CodexTask"
                }
              }
            }
          }
        ]
      },
      "CodexEnvironment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.codex_environment"
            ]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for a Codex execution environment."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ]
          },
          "machine_id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "workspace_dir": {
            "type": "string",
            "nullable": true
          },
          "is_pinned": {
            "type": "boolean"
          },
          "repos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "External repository ID (e.g., \"github:openai/chatgpt\")."
          },
          "setup": {
            "description": "Command(s) used to configure the environment container before first run.\nAccepts either a single shell command string or an ordered list of commands.\n",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "repo_map": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "object",
              "description": "Git repository metadata.",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "HTTPS or SSH URL of the repository."
                },
                "branch": {
                  "type": "string",
                  "description": "Default branch checked out in the environment."
                },
                "commit": {
                  "type": "string",
                  "description": "Commit SHA captured in the environment snapshot."
                }
              }
            }
          },
          "env_vars": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "secrets": {
            "type": "object",
            "nullable": true,
            "description": "Always empty object. Preserved for backwards compatibility."
          },
          "task_count": {
            "type": "integer",
            "nullable": true
          },
          "creator_id": {
            "type": "string"
          },
          "share_settings": {
            "type": "string",
            "description": "Sharing visibility of the environment.\n"
          }
        }
      },
      "CodexTask": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.codex_task"
            ]
          },
          "id": {
            "type": "string"
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ]
          },
          "updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              }
            ]
          },
          "created_by_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user_id"
              }
            ]
          },
          "title": {
            "type": "string"
          },
          "denormalized_metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "WorkspacePluginRelease": {
        "type": "object",
        "description": "Current release metadata for a workspace plugin. Plugin bundle and display-asset download URLs and internal file IDs are not exposed.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable identifier for the current plugin release."
          },
          "version": {
            "type": "string",
            "description": "Plugin version string."
          },
          "display_name": {
            "type": "string",
            "description": "Human-readable plugin display name."
          },
          "description": {
            "type": "string",
            "description": "Plugin release description."
          }
        }
      },
      "WorkspacePluginReleaseDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkspacePluginRelease"
          },
          {
            "type": "object",
            "properties": {
              "app_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "app_manifest": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              },
              "interface": {
                "type": "object",
                "additionalProperties": true
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "mcp_servers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ]
      },
      "WorkspacePlugin": {
        "type": "object",
        "description": "Current metadata for a live workspace-scoped plugin.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.plugin"
            ]
          },
          "id": {
            "type": "string",
            "description": "Stable plugin identifier."
          },
          "name": {
            "type": "string",
            "description": "Machine-readable plugin name."
          },
          "created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "scope": {
            "type": "string",
            "enum": [
              "WORKSPACE"
            ]
          },
          "workspace_id": {
            "$ref": "#/components/schemas/workspace_id"
          },
          "creator_account_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Account-user ID of the plugin creator or importer."
          },
          "marketplace_name": {
            "type": "string",
            "nullable": true,
            "description": "Optional catalog or marketplace provenance name."
          },
          "discoverability": {
            "type": "string",
            "enum": [
              "LISTED",
              "UNLISTED",
              "PRIVATE"
            ]
          },
          "status": {
            "type": "string",
            "description": "Current plugin availability status."
          },
          "installation_policy": {
            "type": "string",
            "description": "Workspace installation policy stored on the plugin."
          },
          "authentication_policy": {
            "type": "string",
            "description": "Authentication policy stored on the plugin."
          },
          "current_release": {
            "$ref": "#/components/schemas/WorkspacePluginRelease"
          }
        }
      },
      "WorkspacePluginDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkspacePlugin"
          },
          {
            "type": "object",
            "properties": {
              "current_release": {
                "$ref": "#/components/schemas/WorkspacePluginReleaseDetail"
              },
              "share_url": {
                "type": "string",
                "format": "uri",
                "nullable": true,
                "description": "Current share URL, when the plugin has one."
              },
              "share_principals": {
                "type": "array",
                "description": "Current principals with access to the plugin.",
                "items": {
                  "type": "object",
                  "properties": {
                    "principal_type": {
                      "type": "string",
                      "enum": [
                        "user",
                        "group",
                        "workspace"
                      ]
                    },
                    "principal_id": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "reader",
                        "editor",
                        "owner"
                      ]
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "WorkspacePluginList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for fetching the next page of results."
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspacePlugin"
            }
          }
        }
      },
      "RemoteControlEnvironmentList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RemoteControlEnvironment"
                }
              }
            }
          }
        ]
      },
      "RemoteControlThreadList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RemoteControlThread"
                }
              }
            }
          }
        ]
      },
      "RemoteControlClientList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericList"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RemoteControlClient"
                }
              }
            }
          }
        ]
      },
      "RemoteControlAppServer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.remote_control.app_server"
            ]
          },
          "id": {
            "type": "string"
          },
          "environment_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "os_version": {
            "type": "string",
            "nullable": true
          },
          "arch": {
            "type": "string"
          },
          "app_server_version": {
            "type": "string"
          },
          "originator": {
            "type": "string",
            "nullable": true
          },
          "terminal": {
            "type": "string",
            "nullable": true
          },
          "client_name": {
            "type": "string",
            "nullable": true
          },
          "client_version": {
            "type": "string",
            "nullable": true
          },
          "presence_cluster_full_name": {
            "type": "string"
          },
          "connection_status": {
            "type": "string"
          },
          "connection_updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "last_seen_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "busy": {
            "type": "boolean"
          }
        }
      },
      "RemoteControlEnvironment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.remote_control.environment"
            ]
          },
          "id": {
            "type": "string"
          },
          "account_user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "app_server": {
            "$ref": "#/components/schemas/RemoteControlAppServer",
            "nullable": true
          }
        }
      },
      "RemoteControlThread": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.remote_control.thread"
            ]
          },
          "id": {
            "type": "string"
          },
          "account_user_id": {
            "type": "string"
          },
          "environment_id": {
            "type": "string"
          },
          "server_id": {
            "type": "string"
          },
          "thread_id": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "preview": {
            "type": "string",
            "nullable": true
          },
          "thread_created_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "cwd": {
            "type": "string",
            "nullable": true
          },
          "cli_version": {
            "type": "string",
            "nullable": true
          },
          "model_provider": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "active_turn_id": {
            "type": "string",
            "nullable": true
          },
          "thread_updated_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "is_archived": {
            "type": "boolean"
          }
        }
      },
      "RemoteControlClient": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user.remote_control.client"
            ]
          },
          "id": {
            "type": "string",
            "description": "Remote-control client identifier."
          },
          "habitat_id": {
            "type": "string"
          },
          "account_user_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "device_type": {
            "type": "string",
            "nullable": true
          },
          "platform": {
            "type": "string",
            "nullable": true
          },
          "os_version": {
            "type": "string",
            "nullable": true
          },
          "device_model": {
            "type": "string",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "nullable": true
          },
          "last_seen_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "last_seen_city": {
            "type": "string",
            "nullable": true
          },
          "last_seen_region_code": {
            "type": "string",
            "nullable": true
          },
          "last_seen_country": {
            "type": "string",
            "nullable": true
          },
          "deleted_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/datestring"
              }
            ],
            "nullable": true
          },
          "device_key_id": {
            "type": "string",
            "nullable": true
          },
          "device_key_public_spki_der_base64": {
            "type": "string",
            "nullable": true
          },
          "device_key_algorithm": {
            "type": "string",
            "nullable": true
          },
          "device_key_protection_class": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ComplianceLogFileMetadata": {
        "type": "object",
        "description": "Metadata describing a compliance log export available for a workspace or API Platform organization.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the log file."
          },
          "event_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/compliance_event_type_response"
              }
            ],
            "description": "The type of compliance events contained in this file."
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp marking the end of the time range covered by the file."
          },
          "file_name": {
            "type": "string",
            "description": "Suggested filename for the exported log file (including extension)."
          },
          "file_size": {
            "type": "integer",
            "description": "Size of the log file in bytes."
          },
          "file_sha256": {
            "type": "string",
            "description": "Hex-encoded SHA-256 checksum of the file contents; use to verify integrity."
          }
        },
        "required": [
          "id",
          "event_type",
          "end_time",
          "file_name",
          "file_size",
          "file_sha256"
        ]
      },
      "ComplianceLogFileList": {
        "type": "object",
        "description": "Paginated list of compliance log files available for download.",
        "properties": {
          "data": {
            "type": "array",
            "description": "The log files that match the supplied filters.",
            "items": {
              "$ref": "#/components/schemas/ComplianceLogFileMetadata"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether additional log files are available after this page."
          },
          "last_end_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "End timestamp of the final log file in the response. Use this value as the `after` parameter to fetch the next page."
          }
        },
        "required": [
          "data",
          "has_more"
        ]
      },
      "WorkspaceDirectoryScimGroup": {
        "type": "object",
        "description": "SCIM provider metadata for a workspace directory group.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The SCIM group identifier."
          },
          "display_name": {
            "type": "string",
            "description": "The display name provided by SCIM."
          }
        },
        "required": [
          "id",
          "display_name"
        ]
      },
      "WorkspaceDirectoryGroup": {
        "type": "object",
        "description": "A group in the workspace directory.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "directory.workspace.group"
            ],
            "default": "directory.workspace.group"
          },
          "id": {
            "type": "string",
            "description": "The workspace directory group identifier."
          },
          "workspace_id": {
            "$ref": "#/components/schemas/workspace_id"
          },
          "name": {
            "type": "string",
            "description": "The group display name."
          },
          "created_at": {
            "$ref": "#/components/schemas/timestamp"
          },
          "member_count": {
            "type": "integer",
            "description": "Number of users in the group."
          },
          "source": {
            "type": "string",
            "enum": [
              "manual",
              "scim"
            ],
            "description": "Whether the group is manually managed in ChatGPT or managed through SCIM."
          },
          "scim": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkspaceDirectoryScimGroup"
              }
            ],
            "nullable": true,
            "description": "SCIM metadata when `source` is `scim`."
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "created_at",
          "member_count",
          "source"
        ]
      },
      "ComplianceWorkspaceUser": {
        "type": "object",
        "description": "A ChatGPT workspace user returned by workspace directory endpoints.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "compliance.workspace.user"
            ],
            "default": "compliance.workspace.user"
          },
          "id": {
            "$ref": "#/components/schemas/user_id"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "The user's email address, when available."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The user's display name, when available."
          },
          "created_at": {
            "$ref": "#/components/schemas/timestamp"
          },
          "role": {
            "type": "string",
            "description": "The user's workspace role."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deactivated"
            ],
            "description": "The user's workspace account status."
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "created_at",
          "role",
          "status"
        ]
      },
      "WorkspaceDirectoryGroupListResponse": {
        "type": "object",
        "description": "A paginated list of workspace directory groups.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "default": "list"
          },
          "data": {
            "type": "array",
            "description": "The workspace directory groups in this page.",
            "items": {
              "$ref": "#/components/schemas/WorkspaceDirectoryGroup"
            }
          },
          "last_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the final group in this page."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for fetching the next page."
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether another page is available."
          }
        },
        "required": [
          "data",
          "last_id",
          "cursor",
          "has_more"
        ]
      },
      "WorkspaceDirectoryUserListResponse": {
        "type": "object",
        "description": "A paginated list of workspace users.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "default": "list"
          },
          "data": {
            "type": "array",
            "description": "The workspace users in this page.",
            "items": {
              "$ref": "#/components/schemas/ComplianceWorkspaceUser"
            }
          },
          "last_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the final user in this page."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for fetching the next page."
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates whether another page is available."
          }
        },
        "required": [
          "data",
          "last_id",
          "cursor",
          "has_more"
        ]
      },
      "AddWorkspaceDirectoryGroupUserRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Request body for adding a workspace user to a manually managed group.",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          }
        },
        "required": [
          "user_id"
        ]
      },
      "WorkspaceDirectoryGroupUser": {
        "type": "object",
        "description": "A workspace user assigned to a workspace directory group.",
        "properties": {
[...]
